; > A curated and practical list of security best practice for using npm packages.
; https://github.com/lirantal/npm-security-best-practices?tab=readme-ov-file

; > By disabling post-install scripts, you can mitigate the risk of such attacks by
; > preventing the execution of potentially harmful code during the installation process.
; https://github.com/lirantal/npm-security-best-practices?tab=readme-ov-file#1-disable-post-install-scripts
ignore-scripts=true     ; https://docs.npmjs.com/cli/v11/using-npm/config#ignore-scripts
allow-git=none          ; https://docs.npmjs.com/cli/v11/using-npm/config#allow-git

; https://github.com/lirantal/npm-security-best-practices?tab=readme-ov-file#2-install-with-cooldown
min-release-age=14      ; https://docs.npmjs.com/cli/v11/using-npm/config#min-release-age

; Ensures `npm` version declared in `engines` field supports all features listed here.
engine-strict=true      ; https://docs.npmjs.com/cli/v11/using-npm/config#engine-strict

; TODO: reenable after the project is tested and working properly
; https://docs.npmjs.com/cli/v11/using-npm/config#node-options
; https://nodejs.org/api/cli.html#disable-protomode
; https://nodejs.org/api/cli.html#disallow-code-generation-from-strings
;node-options=--disable-proto=throw --disallow-code-generation-from-strings
