{
    "reporter": ["lcov", "text"],
    "lines": "85",
    "branches": "82",
    "statements": "85",
    "exclude": [
        ".solc/soljson-v*.js",
        "test/**/*.{test,check}.ts",
        "test/utils/*.ts",
        "test/examples/abis.ts"
    ]
}
