/node_modules/

# Non-minified generated JSON lookup tables
/data/functionHashes.json
/data/eventHashes.json

# Minified generated JS lookup tables
/src/functionHashes.min.js
/src/eventHashes.min.js

# Downloaded Etherscan bytecode cache
/.etherscan/

# Currently omitted data for stress testing
/test/export-verified-contractaddress-opensource-license.csv
